@model IEnumerable<SharedAccessKey.Models.BlobImage>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>

<table>
    <tr>
        <td>
            @foreach (var item in Model)
            {
                <img src="@item.BlobUri"/>
            }

        </td>
    </tr>
</table>


</body>
</html>