<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=navz;AccountKey=Ghp8Sfga3VILSXm2TeLrrKGQah8AIR3tMcIMXdiF7yF/I6iH+rxSEwFzXZDkXNXyyiewgyW3AESYL8+AQ7jtPA==;EndpointSuffix=core.windows.net"></add>
  </appSettings>
</configuration>
